html {
    scroll-behavior: smooth;
}

body {
	font-family: Raleway;
	background-color:#fbfbfb;
	color:#6c757d;
	font-size: 0.9rem;
}

a {
    color: #418bca;
    text-decoration: none;
}

a:hover {
    color: #3674a9;
    text-decoration: none;
}

h1 {
	font-size:28px;
	font-weight:normal;
	text-align:center;
	padding: 0px;
	margin: 0px;
	color:#1a1a1a;
    text-transform : uppercase;
}

h2 {
	font-size:12px;
	font-weight:normal;
    text-align:center;
    padding: 0px;
	margin: 0px;
	color:silver;
    text-transform : uppercase;
}

h3 {
	font-size:18px;
	font-weight:normal;
    padding: 0px;
	margin: 0px;
	color:#2d3f52;
    text-transform : uppercase;
}

h4 {
	font-size:14px;
	font-weight:normal;
    padding: 0px;
	margin: 0px;
	color:#3674a9;
    text-transform : uppercase;
}

a.twitter {color: #7ac9ed;opacity: 0.5;}
a.twitter:hover {color: #7ac9ed;opacity: 1;}

a.github {color: silver;opacity: 0.5;}
a.github:hover {color: gray;opacity: 1;}

.kbd-on {
    padding: 0.1rem 0.4rem;
    font-size: .7em;
    color: #fff;
    background-color: #34495e;
    border-radius: 0.2rem;
    font-family: var(--bs-font-monospace);
}

.kbd-off {
    padding: 0.1rem 0.4rem;
    font-size: .7em;
    color: #fff;
    background-color: #95a5a6;
    border-radius: 0.2rem;
    font-family: var(--bs-font-monospace);
}

.kbd-on:hover, .kbd-off:hover {
    color: #fff;
    background-color: #34495e;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    font-size:75%;
    background-color:#2ecc71;
}

.card-body {
    flex: 1 1 auto;
    padding: 0.5rem 0.5rem;
}

.doc {
    color:white
}

.doc:hover {
    color:silver
}

/* ****************************************************************************
 INTRO
**************************************************************************** */

#intro {
	background-color:#f1f3f4;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:20px;
	margin-bottom:40px;
}

#intro .apps-logos {
	text-align:center;
	padding:5px 0px 10px 0px;
}

#intro .apps-logos img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	opacity:0.3;
	padding:0px 10px 0px 10px;
}

#intro .apps-logos img:hover {
	-webkit-filter: none;
	filter: none;
	opacity:1;
}

/* INTRO ******************************************************************* */

/* xs button */
.btn-group-xs>.btn, .btn-xs {
    padding: .4rem .5rem;
    font-size: 0.7rem;
    line-height: 1.2;
    border-radius: .3rem;
	margin-right: 0rem;
}

/* download button */
.btn-download {
    color: #6c757d;
    background-color: #f1f3f4;
    background-image: none;
    border-color: #f1f3f4;
}

.btn-download:hover {
    color: #1a1a1a;
    background-color: #e4e6e7;
    border-color: #e4e6e7;
}

.btn-download:not(:disabled):not(.disabled).active, .btn-download:not(:disabled):not(.disabled):active, .show>.btn-download.dropdown-toggle {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}

/* doc button */
.btn-doc {
    color: #6c757d;
    background-color: #f1f3f4;
    background-image: none;
    border-color: #f1f3f4;
    text-align:left;
    width:100%;
}

.btn-doc:hover {
    color: #1a1a1a;
    background-color: #e4e6e7;
    border-color: #e4e6e7;
}

.btn-doc:not(:disabled):not(.disabled).active, .btn-doc:not(:disabled):not(.disabled):active, .show>.btn-doc.dropdown-toggle {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}


#footer {
	background-color:#f1f3f4;
	margin-top:30px;
	font-size:90%;
}
